// best seen at 1500px or less

html, body { height: 100%;
             width: 100%;}
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}
h1 {
  color: darkblue;
  font-family:Lato, sans-serif;
  font-weight: lighter;
  font-size: 4em;
}
p,a,a:visited {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: #333;
}

#main {
  margin: 40px 10px;
  max-width: 600px;
  text-align: left;
}

#cat {
  max-height: 250px;
  display: block;
  margin: auto;
}

.footer {
  position: fixed;
  background: rgba(1, 88, 112, .50);
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer p,.footer a,.footer a:visited {
  color: #eee;
  font-weight: lighter;
}

.ocean {
    height: 20px;
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
  background: #015870;
}

.wave {
  position: fixed;
  bottom: 20px;
  animation: wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
}

.wave div {
    background: url(http://s3.ca-central-1.amazonaws.com/tidal-serverless-example/wave.min.png) repeat-x;
    overflow-x: hidden;
  overflow-y: visible;
  width: 6400px;
  height: 198px;
}

.wave:nth-of-type(2) div {
  animation: swell 15s ease -5.25s infinite;
}
.wave:nth-of-type(2) {
  bottom: 23px;
  animation: wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -5.125s infinite;
}

@keyframes wave {
  100% {
    transform: translateX(-1600px);
  }
}

@keyframes swell {
  0%, 100% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(5px);
  }
}

@media screen and (max-width: 720px){
    h1{
        font-size: 3em;
    }

    #cat{
        max-height: 200px;
    }
    .wave div {
        height: 150px;
    }
}
